.buttonStyle {
    position: absolute;
    margin-top: 35px;
    margin-left: 800px;
    color: white;
    background-color: transparent;
    width: 100px;
    border-color: transparent;
    font-family: "open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.buttonTextStyle {
    font-family: "open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
}

.textareafield {   
  margin-top: 10px;  
  min-Height: 200px;
  min-Width: 600px;
  /* background-color: white; */
}

.comboBox {    
    min-Height: 20px;    
    min-Width: 600px;  
    font-family: "open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    background-color: white;
  }

  .title {    
    margin-top: 10px;
    min-Height: 10px;    
    min-Width: 600px;  
    font-family: "open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-size: 40px; */
    background-color: white;
  }

  .imageLoader {
    min-Width: 600px; 
  }