.buttonStyle {
    position: absolute;
    margin-top: 35px;
    margin-left: 800px;
    color: white;
    background-color: transparent;
    width: 140px;
    border-color: transparent;
    font-family: "open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.buttonTextStyle {
    font-family: "open-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
}}

.textareafield {        
    min-Height: 250px;
    min-Width: 600px;
    /* padding: spacing(2); */
        background-color: white;
  }